
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lora';
}

body {
}
                                     /* NAVBAR */
.cart-logo {
    width: 70px;
    cursor: pointer;
}

.navbar-img {
    height: 110px;
    padding: 0px 200px;
}

header {
    background-color: #050505;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.navbar-list {
    gap: 30px;
    font-size: 17px;
}

.navbar-list a {
    color: white;
}

.navbar-list li {
    border-bottom: solid 1px pink;
    transition: all .3s ease;
}

.navbar-list li:hover {
    transform: translateY(10px);
}
                                     /* CONTENIDO PRINCIPAL, PORTADA */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#portada {
    background-color: rgba(0,0,0,.8);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: white;
    width: 50%;
    gap: 15px;
}

.portada-info h1 {
    font-size: 28px;
    color: #de734cf8;
}

.portada-info p {
    width: 90%;
    font-weight: 500;
    color: white;
}

.portada-info span {
    font-weight: bolder;
    color: aqua;
}


.portada-info a {
    color: black;
    display: flex;
    padding: 10px;
    width: 30%;
    font-weight: 800;
    text-align: center;
    background-color: #88c7e0;
    border-radius: 15px;
    transition: all .3s ease;
    margin-top: 14px;
    display: block;
}

.portada-info a:hover {
    transform: translateX(13px);
}

.portada-card {
    outline: 1px solid white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
}

.portada-card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(255, 255, 255, 0.322);
    transform: translate(0px -8px);
}

.portada-card img {
    height: 400px;
}

.portada-card-infotop {
    color: white;
    display: flex;
    justify-content: space-between;
}

.portada-card-infotop h2 {
    padding: 4px 0px;
    font-size: 20px;
}

.portada-card-infotop p {
    padding: 6px;
    color: black;
    font-weight: 700;
    display: flex;
    font-size: 16px;
}

.portada-card-infobottom {
    display: flex;
}

.btn-portadabot {
    color: black;
    font-size: 15px;
    font-weight: 800;
    margin-top: 8px;
    padding: 10px;
    border-radius: 12px;
    background-color: #88c7e0;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
}

.portada-card-infobottom button:hover {
    transform: translateX(15px);
}
                                     /* ACA EMPIEZA INFO */
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    gap: 50px;
    padding: 70px 0;
}

#info h2 {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}

.info-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    gap: 25px;
}

.info-card img {
    width: 200px;
}

.info-card h3 {
    font-size: 24px;
}

.info-card p {
    font-weight: 600;
    color: #282a2e;
}
                                     /* ACA EMPIEZA EL FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}

.container-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.container-links li {
    color: rgb(245, 125, 20);
    font-weight: 700;
    font-size: 17px;
    padding: 5px 0;
}

.container-links a {
    color: rgb(245, 125, 20);
    padding: 7px 0;
}

.container-links h5 {
    font-size: 25px;
}

.footer-img {
    width: 25px;
}

.mapa {
    outline: 2px solid gray;
}