
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lora';
}

body {
}
                                     /* NAVBAR */
.cart-icon {
    width: 70px;
    cursor: pointer;
}

.navbar-img {
    height: 95px;
}

header {
    background-color: #050505;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.navbar-list {
    gap: 30px;
    font-size: 17px;
}

.navbar-list a {
    color: white;
}

.navbar-list li {
    border-bottom: solid 1px pink;
    transition: all .3s ease;
}

.navbar-list li:hover {
    transform: translateY(10px);
}

#cart-toggle,
#menu-toggle,
.menu-label {
    display: none;
}

.cart {
    position: absolute;
    top: 65px;
    right: 0;
    display: flex;
    border-left: 2px solid rosybrown;
    padding: 50px 30px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
    background-color: black;
    color: white;
}

#cart-toggle:checked + .cart {
    display: flex;
}

.cart::-webkit-scrollbar {
    display: none;
}

                                     /* CONTENIDO PRINCIPAL, PORTADA */
main {
    background-color: rgba(0,0,0,.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#portada {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: white;
    width: 50%;
    gap: 15px;
}

.portada-info h1 {
    font-size: 28px;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.portada-info p {
    width: 90%;
    font-weight: 500;
    color: white;
}

.portada-info span {
    font-weight: bolder;
    color: aqua;
}


.portada-info a {
    color: black;
    display: flex;
    padding: 10px;
    width: 30%;
    font-weight: 800;
    text-align: center;
    background-color: #88c7e0;
    border-radius: 15px;
    transition: all .3s ease;
    margin-top: 14px;
    display: block;
}

.portada-info a:hover {
    transform: translateX(13px);
}

.portada-card {
    outline: 1px solid white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
}

.portada-card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(255, 255, 255, 0.322);
    transform: translate(0px -8px);
}

.portada-card img {
    height: 400px;
}

.portada-card-infotop {
    color: white;
    display: flex;
    justify-content: space-between;
}

.portada-card-infotop h2 {
    padding: 4px 0px;
    font-size: 20px;
}

.portada-card-infotop p {
    padding: 6px;
    color: black;
    font-weight: 700;
    display: flex;
    font-size: 16px;
}

.portada-card-infobottom {
    display: flex;
}

.btn-portadabot {
    color: black;
    font-size: 15px;
    font-weight: 800;
    margin-top: 8px;
    padding: 10px;
    border-radius: 12px;
    background-color: #88c7e0;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
}

.portada-card-infobottom button:hover {
    transform: translateX(15px);
}
                                     /* ACA EMPIEZA INFO */
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    gap: 50px;
    padding: 70px 0;
}

#info h2 {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}

.info-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    gap: 25px;
}

.info-card img {
    width: 200px;
}

.info-card h3 {
    font-size: 24px;
}

.info-card p {
    font-weight: 500;
    color: white;
}
                                     /* ACA EMPIEZA EL FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    border: 2px white solid;
    background-color: rgba(0,0,0,.8);
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}

.container-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.container-links li {
    color: white;
    font-weight: 700;
    font-size: 17px;
    padding: 7px 0;
    transition: all 0.3s ease;
}

.container-links li:hover {
    transform: translateX(12px);
}

.container-links a {
    color: white;
}

.container-links h5 {
    font-size: 25px;
}

.footer-img {
    width: 25px;
}

.mapa {
    outline: 2px solid black;
}

                                                                          /* TABLET */

@media (max-width: 992px) {
    .navbar {
        gap: 10px;
    }

    .navbar-img {
        margin-right: 20px;
    }

    .cart-icon { 
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar-list {
        position: absolute;
        top: 65px;
        left: 4%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: black;
        border: 2px solid royalblue;
        border-top: none;
        display: flex;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
    }

                                                                              /* Menu Icon */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 25px;
        width: 25px;
    }

    #menu-toggle:checked + .navbar-list {
        display: flex;
    }

                                                                              /* PORTADA */
    .portada-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .portada-info h1 {
        width: 90%;
        max-width: 500px;
    }

    .portada-info p {
        width: 90%;
        max-width: 600px;
        font-size: 20px;
    }

    .portada-info a {
        width: 50%;
    }

    .portada-card {
        margin: 0px 50px 0px 50px;
    }

    .portada-card-infotop h2 {
        font-size: 20px;
    }

    .portada-card-infotop p {
        font-size: 18px;
    }

    .btn-portadabot {
        font-size: 16px;
    }
                                                                              /* INFO */
    #info h2 {
        text-align: center;
        width: 80%;
    }

    .info-card p {
        font-size: 20px;
    }

    .info-cards-container {
        max-width: 80%;
    }

                                                                              /* FOOTER */
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        flex-direction: column;
    }

    .container-links a {
        font-size: 16px;
        max-width: 90%;
    }

    .container-links h5 {
        font-size: 28px;
    }

    .footer-img {
        margin: 0px 10px 0px 0px;
    }
}
                                                                          /* CELULARES */
@media (max-width: 576px) {
    .cart {
        left: 0;
        width: 100%;
        border: none;
    }

    .cart-item {
        flex-wrap: wrap;
    }
                                                                              /* PORTADA */
    .portada-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .portada-info h1 {
        max-width: 60%;
    }

    .portada-info p {
        font-size: 15px;
    }

    .portada-info a {
        width: 70%;
    }

    .portada-card {
        display: none;
    }
                                                                          /* INFO */
    .info-card img {
        width: 140px;
    }

    .info-card p {
        width: 300px;
    }
}

                                                                          /* 1200PX */